<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
        <h3 class="bg-primary text-white p-3">
          Lists
        </h3>
        <div *ngFor="let holder of getHolder()">
          <table class="table table-striped table-bordered">
            <thead>
              <th>{{holder.listOwner}}</th>
              <tr>
                <th>ürün</th>
                <th>adet</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getItems()">
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>